elpa/
auto-save-list/
*.elc
.graphene-geometry
.jp-geometry
projectile-bookmarks.eld
/*.cache
/smex-items
/url/cookies
/bookmarks
/cider-history
.cask
/recentf
*~
/straight/*
!/straight/versions/
!/straight/versions/*
/custom.el
/tramp
/transient
/places
/.lsp-session-v1
/amx-items
/network-security.data
/url/
/.dap-breakpoints
/session.*
/.org-id-locations
/request/
/org-roam.db
